<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script type="text/javascript">
$(document).ready(function() {
    const goal = 260;
    const interval = 2000
    var get_parameter_by_name = function(name, url) {
        if (!url) {
            url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    };


    $('#exercise_btn').click(function() {
        document.location.href = '/exercise?token=' + get_parameter_by_name('token');
    });

    var show_progress = function(progress_json) {
    	console.log('success');
    	console.log(progress_json);
    	var progress_abs = progress_json.length;
    	var progress = progress_abs / goal * 100;
    	progress = progress.toFixed(1);
        if (progress > 0) {
		    $('#progress').text(progress + '%');
	    }
		$('#progress').css('width', progress + '%');
		$('#progress_abs').text(progress_abs + '/' + goal);
    };

    var id = setInterval(update_progress, interval);
    function update_progress(){
        $.getJSON('/entries_by_type?type=stairs', show_progress);
    }
});
		</script>
	</head>
	<body>
		<div class="container">
			<div class="header clearfix">
				<h2 class="text-muted text-center">Fortschritt</h2>
			</div>
			<div class="jumbotron" id="emojitron">
                <div class="text-center">
                    Aktueller Fortschritt:<span id="progress_abs"></span>
                </div>
                <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 8.1%; height: 30px; font-size: 22px; padding-top:6px; background-color: #ff8800">
			        <span>0%</span>
		        </div>
			</div>
		</div>
	</body>
</html>
