<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        </head>
	<body>
		<div class="container">
			<div class="header clearfix">
				<h2 class="text-muted text-center">Willkommen</h2>
			</div>
			<div class="jumbotron">
                            <div class="text-center">
                                Es gibt nichts zu sehen!
                            </div>
			</div>
		</div>
	</body>
</html>
